@import "tailwindcss";
/* Options.css */

/* Nav bar container */
.navbar {
  @apply flex gap-4 p-4 bg-gray-100 rounded-lg;
}

/* Nav links */
.navbar a {
  @apply text-gray-700 px-3 py-2 rounded hover:bg-blue-100 hover:text-blue-600 transition;
}

/* Active link */
.navbar a.active {
  @apply bg-blue-600 text-white font-semibold;
}

/* Main content */
.main-content {
  @apply p-4 bg-white rounded-lg shadow mt-4;
}

.section-title {
  @apply text-gray-700 mb-4 font-bold;
}

.settings-row {
  @apply mt-2;
}

.settings-row-inner {
  @apply flex items-center gap-3 p-1;
}

.settings-desc {
  @apply text-gray-500 mt-1 px-1 py-0 text-sm;
}

.panel-toggle-btn {
  @apply text-white px-3 py-1 mr-2 rounded transition;
}

.sub-settings-container {
  @apply border py-2 px-3 w-[280px] border-gray-300 rounded-md mb-2
}